*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .body{
  background-color: #e6f6f5;
  height: 100vh;
 }

.card{
 
  background-color: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    box-shadow: 0 0 5px #0088c2;
  
}
p{
  margin-top: 30px;
  margin-right: 20px;
}
